body{
     /* #034a78 */
    /* overflow: hidden; */
   /* background-color: rgb(144, 179, 179); */
   
}
.logo{
    transform: translateY(-20%);
}
nav{
    border-bottom: 1px solid #f9bc14;
    height: 15vh;
    padding-top: 2%;
    position: fixed;
    width: 100%;
}
.item{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    border: 1px solid #034a78;
    height: auto;
    text-align: center;
    cursor: pointer;
    height: 7vh;
    padding: 2px;
    position: relative;
    transform: translateX(5%);
    color: black;
    box-shadow: inset 0 0 0 0 #034a78;
}
.item:hover{
    box-shadow: inset 300px 0 0 0 #034a78;
    transition: all .5s ease;
    color: #f9bc14;
}
footer{
    background-color: #034a78 ;
    min-height: 20vh;
    transform: translateY(1080px);
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.foot_subTitle{
    font-size: 20px;
}