body{
     /* #034a78 */
    /* overflow: hidden; */
   /* background-color: rgb(144, 179, 179); */
   
}
nav{
    border-bottom: 1px solid rgb(240, 236, 25);
    height: 15vh;
    padding-top: 2%;
    position: fixed;
    width: 100%;
}
.item{
    border-radius: 10px;
    border: 2px solid red;
    height: auto;
    text-align: center;
    cursor: pointer;
    height: 7vh;
    padding: 5px;
}
footer{
    background-color: #034a78 ;
    min-height: 20vh;
    transform: translateY(1080px);
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.foot_subTitle{
    font-size: 20px;
}