.tab1{
    /* margin-top: 50px; */
    padding: 5px;
    /* background-color: rgba(0, 0, 0, 0.3); */
}
.ombre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;

}
.input {
    width: 90%;
    border: none !important;
    outline: none;
    color: black;
    /* font-weight: 550; */
    font-size: 20px;
    background: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9bc14;
    border-radius: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f9bc14;
    font-weight: bold;
    box-shadow: 0px 0px 1px black;

}
.elementscar input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    border: none;
    /* text-shadow: 1px 1px 2px black; */
}
.input::placeholder {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.37);
    transition: all .5 ease;

}
.input:current{
    color: blue;
}
option,select{
    background-color: none !important;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;

}

#solideChoose{
    cursor: pointer;
}
#solideOptions,#depotoire{
    visibility: hidden;
}
#solideOptions,#echantionnage,#depotoire{
    display: flex;
    flex-direction: line;
}
#solideOptions label,#echantionnage label,#depotoire label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    font-size: 15px;
    /* text-shadow: 0px 0px 2px black; */
}
#depotoire>div{
    margin-left: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.356); */
}
#solideOptions>div,#echantionnage>div{
    margin-left: 5px;
    box-shadow: 0px 0px 1px black;
    border-radius: 10px;
}
th{
    background-color: #f9bc14;
    font-size: auto;
    text-shadow: 1px 1px 2px black;

}

table ,tr,th {
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: auto;
    margin: auto;
}
table{
    width: 100%;
}
#enteteElement th{
  color: white;    
}
#element>th{
    background-color: rgba(0, 0, 0, 0.418);
    /* margin: 2%; */
    
}
input[type="checkbox"]:checked{
    background-color:#f9bc14 !important;

}
/* #el1{
    border: 1px solid red;
} */