@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.headBar {
    /* position: static; */
    width: 100%;
    height: 15%;
    background-color: rgba(3, 73, 119, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    margin: 2px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    margin-bottom: 2%;
}

.title {
    padding-top: 13px;
    font-size: 35px;
}
.teteLi{
    background-color:rgba(3, 73, 119, 0.5) !important;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    border: 2px solid #f9bc14;
    font-size: auto;
    cursor: pointer !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    border-radius: 10px;

}
.listElement{
    position: relative;
    z-index: 2;
 

}
.elementLi{
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px black;
}

.listElement ul li{
    text-decoration: none;
    border-bottom: 1px solid rgba(3, 73, 119, 0.5);
    list-style-type: none;
    text-align: start;
    display: block;
}
.listElement ul li span{
    color:#f9bc14;
}
.listElement ul{
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.quitter img{
    /* background-color: black; */
    color: white;
    margin: 2%;
    width: 50%;
    transform: translateY(45%)
    
}
.quitter {
    z-index: 20;
    position: fixed;
    margin-bottom: 2%;
    width: 50px;
    height: 50px;
    background-color: #f9bc14;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    transform: translateX(-50%);
}
.formReception {
    margin: 0;
    border: 2px solid #f9bc14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(70vh,-100vh);
    background-color: white;
    align-items: center;
    height: 78vh;
    width: 40%;
    position: relative;
    z-index: 2;
    visibility: hidden;
     border-radius: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;

}


.logout,.EchantillonModification{
    border: 2px solid #f9bc14;
    border-radius: 10px;
    font-size: auto;
    width: auto;
    cursor: pointer !important;
    height:35%;
    margin-top: 2%;
    /* padding: 5px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    opacity: 0.9;
    line-height: -5px;
    /* transform: translateX(100px); */
}

.logout:hover,.EchantillonModification:hover{
    background-color: #034a78;
    border: 2px solid white;
    transition: all 0.3 ease;
    opacity: 1;
}
.logout{
    transform: translateX(25vh);
}

.logo {
    position: absolute;
    /* top: 2%; */
    left: 50%;
    transform: translate(-50%, 0);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 3px 3px black;
    font-size: 1.8em;
    background-color: rgb(3, 73, 119);
    color: #f0f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-body {
    position: relative;
    display: none;
    height: auto;
    max-height: 320px;
    padding: 10% 2%;
    margin-top: 15%;
    background-color: #fff;
    color: #f9bc14;
    box-shadow: 0px 5px 10px #000000;
    border-radius: 30px;
    font-size: 2rem;
}
.tab-body>span{
    color: red;
    font-size: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.tab-body.active {
    display: block;
}

.formReception .rowTab {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9bc14;
    padding: 1.1% 0;
    margin: 10px 0; 
}
.formReception input{
    border: none ;

}
.formReception .rowTab .input {
    width: 90%;
    border: none ;
    outline: none;
    color: black;
    font-weight: 550;
    font-size: 20px;
}

.formReception .input::placeholder {
    font-size: 15px;
    transition: all .5 ease;
}

.link {
    display: inline-block;
    font-size: 0.7em;
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: right;
}

.link:hover {
    text-decoration: underline;
}


.tab-footer {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 30px;
    display: flex;
}

.tab-link {
    text-decoration: none;
    color: #034a78;
    margin: 0 3%;
}

.tab-link.active {
    font-weight: bold;
    color: black;
}
/* .rowTab .btn{
    background-color: red;
} */
@media screen and (max-width: 520px) {
    .container {
        width: 80%;
        min-width: 380px;
        min-height: 490px;
    }
    .tab-body {
        width: 100%;
        padding: 15% 5%;
        margin-top: 25%;
        max-height: 420px;
    }
}

/* ////////////////////// */

.btns{
    /* border: 2px solid red; */
    position: relative;
    width: 70%;
    display: flex;
    left: 15%;
    /* flex-direction: column; */
    justify-content: center;
    justify-content: space-between;
}
#btnForm .btn {
    width: 30%;
    margin: 1%;
    /* height: 45px; */
    border-radius: 10px;
    border: 2px solid rgb(3, 73, 119);
    box-shadow: 0px 0px 2px black;
    outline: none;
    cursor: pointer;
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
}
.valide:hover{
    background-color:rgb(3, 73, 119);
    box-shadow: 0px 0px 0px black;
    color: white !important;
    transition: .5 all ease;
}
.danger:hover{
    background-color:#df4759;
    box-shadow: 0px 0px 0px black;
    color: white !important;
    border: 2px solid #df4759 !important; 
    transition: .5 all ease;
}
#btnForm,#popup{
    visibility: hidden;
}

/* gestion du popup  */
.popup{
    border: 2px solid rgb(3, 73, 119);;
    position: relative;
    z-index: 20;
    width: 50% ;
    border-radius: 10px;
    box-shadow: 0px 3px 10px black;
    transform: translateY(-50vh);
    background-color: white;
}

